version: '3.8'

services:

  pipeline:
    image: metranova/pipeline:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - conf/envs/base.env
      - ${PIPELINE_ENV_FILE:-.env}
    volumes:
      - ./caches:/app/caches:rw
      - ./conf:/app/conf:ro
      - ./pipelines:/app/pipelines:ro
    restart: always
    deploy:
      mode: replicated
      replicas: ${PIPELINE_REPLICAS:-1}

  redis:
    image: redis:8.2.1
    ports:
      - "6379:6379"