# Enable/disable debug logging
DEBUG=false

# Output Method: 'json', 'flow_edge' or 'raw_msg'
OUTPUT_METHOD=flow_edge

# Kafka Settings
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_TOPIC=metranova_flow
KAFKA_CONSUMER_GROUP=metranova_ch_writer
KAFKA_SECURITY_PROTOCOL=SSL
KAFKA_SSL_CA_LOCATION=/app/certificates/kafka_ca.crt
KAFKA_SSL_CERTIFICATE_LOCATION=/app/certificates/kafka_user.crt
KAFKA_SSL_KEY_LOCATION=/app/certificates/kafka_user.key
KAFKA_SSL_KEY_PASSWORD=CHANGME
# Kafka Optional Tunings
#KAFKA_AUTO_OFFSET_RESET=latest
#KAFKA_ENABLE_AUTO_COMMIT=true
#KAFKA_AUTO_COMMIT_INTERVAL_MS=5000
#KAFKA_SESSION_TIMEOUT_MS=30000
#KAFKA_HEARTBEAT_INTERVAL_MS=10000
#KAFKA_MAX_POLL_INTERVAL_MS=300000
#KAFKA_FETCH_MIN_BYTES=1

# ClickHouse Settings
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=metranova
CLICKHOUSE_TABLE=flow_edge
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=CHANGEME
# ClickHouse Optional Tunings
#CLICKHOUSE_BATCH_SIZE=1000
#CLICKHOUSE_BATCH_TIMEOUT=30
